/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: crimson;
  height: 60px;
}

ul {
  float: right;
  margin-top: 10px;
  display: flex;
  overflow: hidden;
}

ul li {
  display: block;
  color: black;
  text-align: center;
  list-style: none;
  margin-right: 20px;
  align-items: center;
  line-height: 40px;
  background-color: cadetblue;
}

ul li:hover {
  background-color: firebrick;
}

ul li:last-child {
  background-color: crimson;
}
ul li:hover:last-child {
  background-color: crimson;
}

ul li a {
  text-decoration: none;
  color: inherit;
  font-size: 17px;
  font-weight: 600;
  color: chocolate;
  padding: 8px;
}

input[type="text"] {
  padding: 8px;
  font-size: 17px;
  border: 2px solid #000;
  border-radius: 10px;
} */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
  padding-left: 15px;
  margin-top: 10px;
  height: 35px;
  border-bottom: 1px solid #d3aaaa77;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  padding-bottom: 10px;
  position: fixed;
  width: 100%;
}

.header {
  border-bottom: 1px solid #e2e8f0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 3rem;
}

.nav-link {
  font-size: 1rem;
  font-weight: 400;
  color: #475569;
}

.nav-link:hover {
  /* color: #482ff7; */
  color: coral;
}

.nav-logo {
  font-size: 1.4rem;
  font-weight: 500;
  color: #482ff7;
}

.fa-user-circle {
  font-size: 1.5rem;
  color: #000;
}

@media only screen and (max-width: 820px) {
  .navbar {
    height: 35px;
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 4rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 1.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .account {
    display: none;
  }

  input[type="text"] {
    display: none;
  }
}
